.justify-content-between {
    justify-content: space-between!important
  }
  .d-flex {
    display: flex!important
  }
  .center{
    align-items: center;
    display: flex;
  }
  .text-center {
    text-align: center!important
  }
  .p-3 {
    padding: 1rem!important
  }