<div class="w-100 ">
<div class="container    ">
<div class="  ">
   
<div *ngIf="announcement">
 
     <h3></h3>
    <div class="row w-100">
      <div class="col-8">
         <div class="card">
          <div class="p-5">
            <div class="text-center mb-2 font-weight-bolder ">Ajouter une Nouvelle Réservation de Colocation</div>
           <div class=" ">
             <form [formGroup]="newCollocationBookingFormGroup" (ngSubmit)="handleSaveCollocationBooking()">
               <div class="d-flex mb-1 align-items-center">
                 <label class="form-label w-25">Date de début:</label>
                 <input type="date" formControlName="startDate" class="form-control">
                 <span class="text-danger"
                       *ngIf="newCollocationBookingFormGroup.controls['startDate'].touched
                       && newCollocationBookingFormGroup.controls['startDate'].errors
                       && newCollocationBookingFormGroup.controls['startDate'].errors!['required']">
                   La date de début est requise
                 </span>
               </div>
               <div class="d-flex mb-1 align-items-center">
                <label class="form-label w-25">Date de fin:</label>
                <input type="date" formControlName="endDate" class="form-control">
                <span class="text-danger"
                      *ngIf="newCollocationBookingFormGroup.controls['endDate'].touched
                      && newCollocationBookingFormGroup.controls['endDate'].errors
                      && newCollocationBookingFormGroup.controls['endDate'].errors!['required']">
                  La date de fin est requise
                </span>
              </div>
               <div class="d-flex mb-1 align-items-center">
                 <label class="form-label w-25">Téléphone:</label>
                 <input type="text" formControlName="telephone" class="form-control">
                 <span class="text-danger"
                       *ngIf="newCollocationBookingFormGroup.controls['telephone'].touched
                       && newCollocationBookingFormGroup.controls['telephone'].errors
                       && newCollocationBookingFormGroup.controls['telephone'].errors!['required']">
                   Le Téléphone est requise
                 </span>
               </div>
               <div class="d-flex mb-1 align-items-center">
                 <label class="form-label w-25">Message:</label>
                 <textarea type="text" formControlName="message" class="form-control"></textarea>
                 <span class="text-danger"
                       *ngIf="newCollocationBookingFormGroup.controls['message'].touched
                       && newCollocationBookingFormGroup.controls['message'].errors
                       && newCollocationBookingFormGroup.controls['message'].errors!['required']">
                   le Message est requise
                 </span>
               </div>
               
               <!-- Vous pouvez ajouter d'autres champs au besoin en fonction de votre modèle de classe -->
               <button [disabled]="!newCollocationBookingFormGroup.valid" class="btn btn-info" (click)="handelLoading()">Enregistrer</button>
             </form>
          </div>

          </div>
           
         </div>
      </div>
      <div class="col-4">
        <div class="estate-card">
          <ngx-slick-carousel class="carousel w-auto h-auto" #slickModal="slick-carousel" [config]="slideConfig" style="border-radius: 20px; ">
            <div ngxSlickItem *ngFor="let slide of announcement.images" class="slide">
              <img [src]="'data:'+slide.type+';base64,' + slide.data " alt="" width="100%">
            </div>
          </ngx-slick-carousel>
          <div class="estate-badges badges ">
            <container-element [ngSwitch]="announcement.etat">
              <span class="green" *ngSwitchCase="'AVAILABLE'">Disponible</span>
              <p class="red" *ngSwitchCase="'BOOKED'">Réservé</p>
              <p class="yellow" *ngSwitchCase="'IN_PROGRESS'">En Cours</p>
              <p class="green" *ngSwitchDefault>Disponible</p>
            </container-element>
          </div>
          <div class="estate-card-box-data"><!---->
    
            <div class="estate-card-price">

              <div class="estate-card-current-price">
                {{ announcement.pricePerPerson * announcement.numPerso }} DT
              </div> <!---->
              <div style="margin: 0.5rem;">
                <ng-container *ngIf=" announcement.averageRating  > 0">
                  <div [ngClass]="[star.class]  " *ngFor="let star of stars.slice(0, announcement.averageRating)">
                    <mat-icon class="mat-icon d-flex align-items-center w-auto">{{star.icon}}</mat-icon>
                  </div>
                </ng-container>
              </div>
              <div class="estate-card-user-buttons">
                <img src="assets/frontOffice/img/icons/rooms.svg" alt="masque" width="20" height="20">
                <span class="estate-card-subtitle"> {{ announcement.homeSize }} </span>

                <img src="assets/frontOffice/img/icons/profile.svg" alt="masque" width="20" height="20">
                <span class="estate-card-subtitle"> {{ announcement.numPerso }} </span>
                <!-- <img *ngIf="!announcement.favori" src="assets/frontOffice/img/icons/favorite.svg" alt="sauvegarde"
                  (click)="addFavoris(announcement)" width="24" height="20">
                <a *ngIf="announcement.favori" (click)="removeFavoris(announcement)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path style="fill: rgb(223, 3, 3);" fill="currentColor"
                      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                  </svg>
                </a> -->
              </div>
            </div>
           
            <div class="estate-card-titles-container">
              <div class="estate-card-titles">
                <h3 class="estate-card-title">
                  {{announcement.address}}
                </h3>
                <h4 class="estate-card-subtitle">
                  {{announcement.houseType}} - {{ announcement.equipmentType }}
                </h4>
              </div>
            </div>
            <!-- <div class="estate-card-data"> 
              <div class="w-100">
                <div class="  d-flex  justify-content-between">

                <button *ngIf="announcement.userId === userId" class="btn btn-secondary" (click)="handleArchiveAnnouncement(announcement)">{{announcement.archive ? "Unarchived" : "archived"}}</button> 
                  <a class="btn btn-success  "
                    [routerLink]="['/addBooColl/',announcement.announcementmentCollocationId ]">Réserver</a>
                </div>
                <button class="btn btn-danger" (click)="showModal_Feedback(announcement.feedbackMap)">Feedback</button>
                <div *ngIf="announcement.userId === userId" class="  d-flex justify-content-between ">
                <button class="btn btn-primary  " (click)="updateComponent(announcement)">Modifier</button>
              </div>  
              </div>  
            </div> -->
            <hr *ngIf="announcement.feedbackMap"/>
            <h5 *ngIf="announcement.feedbackMap">Feedback</h5>
            <div *ngIf="announcement.feedbackMap" class="row p-3">
              <ngx-slick-carousel class="carousel w-auto h-auto" #slickModal="slick-carousel" [config]="slideConfig" style="border-radius: 20px; ">
                <div ngxSlickItem *ngFor="let feedback of announcement.feedbackMap" class="slide">
                  <h3 class="text-black-50 text-center">{{feedback.feed_Back}}</h3>
                  <div class="d-flex justify-content-center"> 
                    <div  *ngFor="let star of stars" [ngClass]="[star.class]  " >
                     <mat-icon class="text-center">{{star.icon}}</mat-icon>
                     </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
         
      </div>
   
    </div>
 
  
</div>
</div>
</div>
</div>
 
<div class="modal"  *ngIf="loading === true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
       
      <div class="modal-body d-flex justify-content-center">
        <mat-spinner  ></mat-spinner>

        
      </div>
       
    </div>
  </div>
</div>