<div class="container p-3">
  <div class="card p-3">
    <div class="main-allanncoll-list ">
      <h2 class="text-center">les annonces de colocation</h2>
      <div class="d-flex justify-content-center">
        <button (click)="redirectToCreateAnnouncement()" class="btn btn-primary w-auto mb-3">Créer une annonce de
          colocation</button>

      </div>
      <div class="row ">
        <ng-container  *ngFor="let annonce of allAnnouncements.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
          <ng-container  >

            <div class="col-md-4 col-12 col">
              <div class="estate-card">
                <ngx-slick-carousel class="carousel w-auto h-auto" #slickModal="slick-carousel" [config]="slideConfig"  style="border-radius: 20px; ">
                  <div ngxSlickItem *ngFor="let slide of annonce.images" class="slide">
                    <img [src]="'data:'+slide.type+';base64,' + slide.data " alt="" width="100%">
                  </div>
                </ngx-slick-carousel>
                <div class="estate-badges badges ">
                  <container-element [ngSwitch]="annonce.etat">
                    <span class="green" *ngSwitchCase="'AVAILABLE'">Disponible</span>
                    <p class="red" *ngSwitchCase="'BOOKED'">Réservé</p>
                    <p class="yellow" *ngSwitchCase="'IN_PROGRESS'">En Cours</p>
                    <p class="green" *ngSwitchDefault>Disponible</p>
                  </container-element>
                </div>
                <div class="estate-card-box-data"><!---->
                  <div class="row mStar">
                    <ng-container *ngIf=" annonce.averageRating  > 0">
                      <div [ngClass]="[star.class]  " *ngFor="let star of stars.slice(0, annonce.averageRating)">
                        <mat-icon class="mat-icon w-auto">{{star.icon}}</mat-icon>
                      </div>
                    </ng-container>
                  </div>
                  <div class="estate-card-price">

                    <div class="estate-card-current-price">
                      {{ annonce.pricePerPerson * annonce.numPerso }} DT
                    </div> <!---->
                    <div class="estate-card-user-buttons">
                      <img src="assets/frontOffice/img/icons/rooms.svg" alt="masque" width="20" height="20">
                      <span class="estate-card-subtitle"> {{ annonce.homeSize }} </span>

                      <img src="assets/frontOffice/img/icons/profile.svg" alt="masque" width="20" height="20">
                      <span class="estate-card-subtitle"> {{ annonce.numPerso }} </span>
                      <img *ngIf="!annonce.favori" src="assets/frontOffice/img/icons/favorite.svg" alt="sauvegarde"
                        (click)="addFavoris(annonce)" width="24" height="20">
                      <a *ngIf="annonce.favori" (click)="removeFavoris(annonce)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                          <path style="fill: rgb(223, 3, 3);" fill="currentColor"
                            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="estate-card-titles-container">
                    <div class="estate-card-titles">
                      <h3 class="estate-card-title">
                        {{annonce.address}}
                      </h3>
                      <h4 class="estate-card-subtitle">
                        {{annonce.houseType}} - {{ annonce.equipmentType.replace("_", " ") }}
                      </h4>
                    </div>
                  </div>
                  <div class="estate-card-data"><!----> <!---->
                    <div class="w-100">
                      <!-- <div *ngIf="annonce.userId === userId" class="  d-flex justify-content-between ">
                          </div> -->
                      <div class="  d-flex  justify-content-between">
      
                        <a *ngIf="annonce.userId === userId" class="btn btn-secondary"
                          (click)="handleArchiveAnnouncement(annonce)">{{annonce.archive ? "archived" : "Unarchived"}}</a>
                        <a class="btn btn-info" [routerLink]="['/anncollbooking/',annonce.annoncementCollocationId ]">suivi
                          Réservation</a>
                       </div>
                      <div *ngIf="annonce.userId === userId" class="  d-flex justify-content-between ">
                        <a class="btn btn-danger" (click)="handleDeleteAnnouncement(annonce)">Supprimer</a>
                        <a class="btn btn-primary  " (click)="updateComponent(annonce)">Modifier</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </ng-container>
        </ng-container>
    </div>
  </div>
    <div class="row" *ngIf="allAnnouncements.length === 0">
      <div class="col">
        <p>Aucune annonce de colocation n'est disponible pour le moment.</p>
      </div>
    </div>
  </div>
</div>
 