<div class="container p-3">
  <div class="card p-3">
    <div class="main-allanncoll-list ">
      <div class="d-flex  justify-content-between">
        <h2 class="text-center">Liste de toutes les annonces de colocation</h2>

        <button class="  btn  w-auto" (click)="show_Modal()" style="
          color: black;
      ">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20"
            height="20" viewBox="0 0 256 256" xml:space="preserve">

            <defs>
            </defs>
            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
              transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
              <path
                d="M 85.813 59.576 H 55.575 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 30.237 c 1.657 0 3 1.343 3 3 S 87.47 59.576 85.813 59.576 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 48.302 66.849 c -5.664 0 -10.272 -4.608 -10.272 -10.272 c 0 -5.665 4.608 -10.273 10.272 -10.273 c 5.665 0 10.273 4.608 10.273 10.273 C 58.575 62.24 53.967 66.849 48.302 66.849 z M 48.302 52.303 c -2.356 0 -4.272 1.917 -4.272 4.273 c 0 2.355 1.917 4.272 4.272 4.272 c 2.356 0 4.273 -1.917 4.273 -4.272 C 52.575 54.22 50.658 52.303 48.302 52.303 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 41.029 59.576 H 4.188 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 36.842 c 1.657 0 3 1.343 3 3 S 42.686 59.576 41.029 59.576 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 85.813 36.424 h -57.79 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 57.79 c 1.657 0 3 1.343 3 3 S 87.47 36.424 85.813 36.424 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 20.75 43.697 c -5.665 0 -10.273 -4.608 -10.273 -10.273 s 4.608 -10.273 10.273 -10.273 s 10.273 4.608 10.273 10.273 S 26.414 43.697 20.75 43.697 z M 20.75 29.151 c -2.356 0 -4.273 1.917 -4.273 4.273 s 1.917 4.273 4.273 4.273 s 4.273 -1.917 4.273 -4.273 S 23.105 29.151 20.75 29.151 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 13.477 36.424 H 4.188 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 9.289 c 1.657 0 3 1.343 3 3 S 15.133 36.424 13.477 36.424 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 57.637 13.273 H 4.188 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 53.449 c 1.657 0 3 1.343 3 3 S 59.294 13.273 57.637 13.273 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 64.909 20.546 c -5.664 0 -10.272 -4.608 -10.272 -10.273 S 59.245 0 64.909 0 c 5.665 0 10.273 4.608 10.273 10.273 S 70.574 20.546 64.909 20.546 z M 64.909 6 c -2.355 0 -4.272 1.917 -4.272 4.273 s 1.917 4.273 4.272 4.273 c 2.356 0 4.273 -1.917 4.273 -4.273 S 67.266 6 64.909 6 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 85.813 13.273 h -13.63 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 13.63 c 1.657 0 3 1.343 3 3 S 87.47 13.273 85.813 13.273 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 85.813 82.728 h -57.79 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 57.79 c 1.657 0 3 1.343 3 3 S 87.47 82.728 85.813 82.728 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 20.75 90 c -5.665 0 -10.273 -4.608 -10.273 -10.272 c 0 -5.665 4.608 -10.273 10.273 -10.273 s 10.273 4.608 10.273 10.273 C 31.022 85.392 26.414 90 20.75 90 z M 20.75 75.454 c -2.356 0 -4.273 1.917 -4.273 4.273 c 0 2.355 1.917 4.272 4.273 4.272 s 4.273 -1.917 4.273 -4.272 C 25.022 77.371 23.105 75.454 20.75 75.454 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              <path
                d="M 13.477 82.728 H 4.188 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 9.289 c 1.657 0 3 1.343 3 3 S 15.133 82.728 13.477 82.728 z"
                style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
            </g>
          </svg> Filter
        </button>
      </div>




      <div class="row ">
        <ng-container
          *ngFor="let annonce of allAnnouncements.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
          <ng-container *ngIf="!annonce.archive || annonce.etat != 'NOT_AVAILABLE'  ">

            <div class="col-md-4 col-12 col">
              <div class="estate-card">
                <ngx-slick-carousel class="carousel w-auto h-auto" #slickModal="slick-carousel" [config]="slideConfig" style="border-radius: 20px; "  (click)="redirect_ann_page(annonce.annoncementCollocationId)">
                  <div ngxSlickItem *ngFor="let slide of annonce.images" class="slide">
                    <img [src]="'data:'+slide.type+';base64,' + slide.data " alt="" width="100%">
                  </div>
                </ngx-slick-carousel>
                <div class="estate-badges badges "  (click)="redirect_ann_page(annonce.annoncementCollocationId)">
                  <container-element [ngSwitch]="annonce.etat">
                    <span class="green" *ngSwitchCase="'AVAILABLE'">Disponible</span>
                    <p class="red" *ngSwitchCase="'BOOKED'">Réservé</p>
                    <p class="yellow" *ngSwitchCase="'IN_PROGRESS'">En Cours</p>
                    <p class="green" *ngSwitchDefault>Disponible</p>
                  </container-element>
                </div>
                <div class="estate-card-box-data"><!---->
                  <div class="row mStar">
                    <ng-container *ngIf=" annonce.averageRating  > 0">
                      <div [ngClass]="[star.class]  " *ngFor="let star of stars.slice(0, annonce.averageRating)">
                        <mat-icon class="mat-icon w-auto">{{star.icon}}</mat-icon>
                      </div>
                    </ng-container>
                  </div>
                  <div class="estate-card-price">

                    <div class="estate-card-current-price">
                      {{ annonce.pricePerPerson * annonce.numPerso }} DT
                    </div> <!---->
                    <div class="estate-card-user-buttons">
                      <img src="assets/frontOffice/img/icons/rooms.svg" alt="masque" width="20" height="20">
                      <span class="estate-card-subtitle"> {{ annonce.homeSize }} </span>

                      <img src="assets/frontOffice/img/icons/profile.svg" alt="masque" width="20" height="20">
                      <span class="estate-card-subtitle"> {{ annonce.numPerso }} </span>
                      <img *ngIf="!annonce.favori" src="assets/frontOffice/img/icons/favorite.svg" alt="sauvegarde"
                        (click)="addFavoris(annonce)" width="24" height="20">
                      <a *ngIf="annonce.favori" (click)="removeFavoris(annonce)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                          <path style="fill: rgb(223, 3, 3);" fill="currentColor"
                            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                        </svg>
                      </a>
                    </div>
                  </div>
                  <div class="estate-card-titles-container"  (click)="redirect_ann_page(annonce.annoncementCollocationId)">
                    <div class="estate-card-titles">
                      <h3 class="estate-card-title">
                        {{annonce.address}}
                      </h3>
                      <h4 class="estate-card-subtitle">
                        {{annonce.houseType}} - {{ annonce.equipmentType.replace("_", " ") }}
                      </h4>
                    </div>
                  </div>
                  <!-- <div class="estate-card-data"> 
                    <div class="w-100">
                      <div class="  d-flex  justify-content-between">

                      <button *ngIf="annonce.userId === userId" class="btn btn-secondary" (click)="handleArchiveAnnouncement(annonce)">{{annonce.archive ? "Unarchived" : "archived"}}</button> 
                        <a class="btn btn-success  "
                          [routerLink]="['/addBooColl/',annonce.annoncementCollocationId ]">Réserver</a>
                      </div>
                      <button class="btn btn-danger" (click)="showModal_Feedback(annonce.feedbackMap)">Feedback</button>
                      <div *ngIf="annonce.userId === userId" class="  d-flex justify-content-between ">
                      <button class="btn btn-primary  " (click)="updateComponent(annonce)">Modifier</button>
                    </div>  
                    </div>  
                  </div> -->
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>

      </div>
      <div class="row" *ngIf="allAnnouncements.length === 0">
        <div class="col">
          <p>Aucune annonce de colocation n'est disponible pour le moment.</p>
        </div>
      </div>
      <div *ngIf="allAnnouncements.length > itemsPerPage"
        class=" w-100 d-flex justify-content-center pagination-container ">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item" [class.disabled]="currentPage == 1">
            <a class="page-link" (click)="currentPage = currentPage - 1">Previous</a>
          </li>
          <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage == page">
            <a class="page-link" (click)="currentPage = page">{{ page }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage == totalPage">
            <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal" *ngIf="showModal === true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Filters</h5>
      </div>
      <div class="modal-body">
        <div class="filter-container row ">
          <div class="col-6">
            <input type="text" placeholder="Home Size" [(ngModel)]="filters.homeSize"
              [ngModelOptions]="{ standalone: true }">
          </div>
          <div class="col-6">
            <input type="text" placeholder="Number of People" [(ngModel)]="filters.numPerso">
          </div>
          <div class="col-6">
            <input type="text" placeholder="Address" [(ngModel)]="filters.address">
          </div>
          <div class="col-6">
            <input type="text" placeholder="Min Price" [(ngModel)]="filters.minPrice">
          </div>
          <div class="col-6">
            <input type="text" placeholder="Max Price" [(ngModel)]="filters.maxPrice">
          </div>
          <div class="col-6">
            <input type="text" placeholder="House Type" [(ngModel)]="filters.houseType">
          </div>
          <div class="col-6">
            <input type="text" placeholder="Equipment Type" [(ngModel)]="filters.equipmentType">
          </div>

        </div>
      </div>
      <div class="  row h-auto w-auto">
        <div class="col-6">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary" (click)="applyFilters()">Apply Filters</button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal" *ngIf="showModalFeedback === true" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Feedback</h5>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>feedBack</th>
              <th>rate</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let feedBack of feedbacks">
              <td>{{ feedBack.feed_Back }}</td>
              <td>{{ feedBack.rate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="  row h-auto w-auto">
        <div class="col-6">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="closeModalFeedback()">Close</button>
        </div>


      </div>
    </div>
  </div>
</div>